body, html {
    height: 100%;
    margin: 0;
  }
  
  .homepagebanner {
    background-image: url("./img/homepagebanner.jpg");
    height: 40%; 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
/*home page banner*/
  .header {
    background-color: #dadada;
    text-align: center;
  }
  
/*home page banner*/
  .topnav {
    overflow: hidden;
    background-color: #4a4a4a;
  }
  
/*home page banner*/
  .topnav a {
    float: middle;
    display: block;
    color: #dadada;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2b2b2b;
    border-radius: 12px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #dadada;
    color: black;
  }