  

  * {
    box-sizing: border-box;
  }
  


.wrapper {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgba(181, 243, 249, .5);
  width: 70%;
  margin: 0 auto;
  border: #75a29c solid;
  
}

.mapsname {
  background-color: rgba(181, 243,  249, .4);
  width: 30%;
  border: #75a29c solid;
  padding: 15px;
}

.gamemode {
  background-color: rgba(181, 243,  249, .4);
  width: 30%;
  border: #75a29c solid;
  padding: 15px;
}


* {
  box-sizing: border-box;
}



nav {
height: 66px;
  background-color: #4d4d4d;
  border-radius: 20px;
  width: 80%;
  justify-content: center;
  margin: auto;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 1.4rem;
  background-color: #4d4d4d;
  color: #dadada;
}

nav ul li a:hover {
  background-color: #3a3a3a;
  border-radius: 12px;

}

nav ul li a:link {
  text-decoration: none;
}


.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

div.background-media{
  background-image: url('./img/mediapage.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.media-text p {
  opacity: 0.9;
  background-color: #333;
  color: white;
}

h1.media-page-title {
  color: white;
}



.img3{
  width: 25%;
  object-fit: cover;
  margin-right: 1150px;
}

div.media-text img.img2, div.media-text img.img4 {
    margin-left: 1100px;
    width: 30%;
    object-fit: cover;
    padding-right: 5px;
}

.contacts{
  background-color:  rgba(128, 128, 128, .7);
  height: 462px;
  width: 218px;
  border-radius: 20px;
  position: fixed;

}
div.contacts p {
  padding: 1rem;
  color: #dadada;
}

div.contacts ul {
  list-style-type: none;
}
.homepagevids{
  display: flex;
  height: 500px;
  background-color: rgba(128, 128, 128, .7);
  width: 1000px;
  justify-content: center;
  margin: auto;
}
.homepagevids li {
  list-style-type: none;

}
#homepagevideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -3;
}
.overwatchtrailers1 {
  height: 400px;
  width: 400px;
}
.homepagevids ul li h1{
  color: #dadada;
}

.homepagevids ul li p {
color: #dadada;
}
.overwatchlogo {
color: #dadada;
background-color: #ffa200;
border-radius: 5px;
border-color: #ffa200;
}

.homepagevids1{
  height: auto;
  width: auto;
  padding: 40px;
}
.homepagevids  {
  height: 300px;
  padding: 5px;
border-radius: 13px;
}
.homepagetext {
  background-color: rgba(128, 128, 128, .5);
  border-radius: 15px;
  width: 400px;
}


header {
  padding: 1rem;

}
