

body, html {
    height: 100%;
    margin: 0;
  }
  
  .homepagebanner {
    background-image: url("./img/homepagebanner.jpg");
    height: 40%; 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
/*home page banner*/
  .header {
    background-color: #dadada;
    text-align: center;
  }
  
/*home page banner*/
  .topnav {
    overflow: hidden;
    background-color: #4a4a4a;
  }
  
/*home page banner*/
  .topnav a {
    float: middle;
    display: block;
    color: #dadada;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2b2b2b;
    border-radius: 12px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #dadada;
    color: black;
  }



.wrapper {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgba(181, 243, 249, .4);
  width: 70%;
  margin: 0 auto;
  border: #75a29c solid;
  
}

.mapsname {
  background-color: rgba(181, 243,  249, .4);
  width: 30%;
  border: #75a29c solid;
  padding: 15px;
}

.gamemode {
  background-color: rgba(181, 243,  249, .4);
  width: 30%;
  border: #75a29c solid;
  padding: 15px;
}


body,
html {
  height: 100%;
  margin: 0;
}

.homepagebanner {
  background-image: url("./img/homepage/homepagebanner.jpg");
  height: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
height: 66px;
  background-color: #4d4d4d;
  border-radius: 20px;
  width: 80%;
  justify-content: center;
  margin: auto;

}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 1.4rem;
  background-color: #4d4d4d;
  color: #dadada;
}

nav ul li a:hover {
  background-color: #3a3a3a;
  border-radius: 12px;

}

nav ul li a:link {
  text-decoration: none;
}

.contacts{
  background-color: #4d4d4d;
  height: 462px;
  width: 218px;
  border-radius: 20px;
  position: fixed;
}
div.contacts p {
  padding: 1rem;
  color: #dadada;
}

div.contacts ul {
  list-style-type: none;
}
.homepagevids{
  display: flex;
  height: 1000px;
  background-color: #3a3a3a;
  width: 1000px;
  justify-content: center;
  margin: auto;
}
.homepagevids li {
  list-style-type: none;

}
#homepagevideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -3;
}